* {
  margin: 0;
  padding: 0;
}
body {
  font-family: arial,sans-serif;
  background-color: #fff;
  color: #222;
}
a {
  text-decoration: none;
  color: #000;
  padding-right: 20px;
  font-size: 14px;
}
a:hover {
  text-decoration: underline;
}
nav {
  padding-top: 10px;
  padding-left: 25px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
}
header nav {
  padding-top: 20px;
}
#signin {
  display: inline-block;
  width: 45px;
  height: 18px;
  background-color: #4285f4;
  color: #fff;
  padding: 5px 10px;
}
.right-links {
  display: inline-block;
  float: right;
}

#centering {
  width: 500px;
  margin: 150px auto 0;
}
#logo {
  margin-bottom: 20px;
  margin-left: 110px;
}
[type="text"] {
  display: block;
  width: 520px;
  height: 40px;
  border-radius: 35px;
  border: 1px solid #dfe1e5;
}
[type="text"]:hover {
  box-shadow: -1px -1px 1px 0 #e4e4e4,
              1px 1px 1px #e4e4e4;
}
#search-container {
  position: relative;
  width: 520px;
  height: 40px;
   margin-bottom: 30px;
}
#buttons-container {
  width: 285px;
  margin: auto;
}
#search-btn {
  margin-right: 10px;
}
.btn {
  height: 35px;
  padding: 5px 10px;
  border: none;
  width: 135px;
  border-radius: 5px;
  color: #5F6368;
  font-size: 14px;
}

footer {
  position:absolute;
  bottom: 0;
  left: 0;
  background-color: #f2f2f2;
  height: 40px;
  width: 100%;
}
footer a {
  color: #5f6368;
}
footer nav {
  border-top: 1px solid #e4e4e4;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */
#search-icon {
  width: 0.9em;
  height: 1.1em;
  position: absolute;
  top: 12px;
  left: 15px;
}
#search-icon path,
#search-icon polygon,
#search-icon rect {
  fill: #9AA0A6;
}
#search-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

#micro-icon {
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  top: 8px;
  right: 10px;
}
#micro-icon path,
#micro-icon polygon,
#micro-icon rect {
  fill: blue;
}
#micro-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}
